[Unit]
Description=Aiosmtp Daemon
After=network-online.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/aiosmtpd
Type=simple
Environment=PYTHONPATH=.
ExecStart=/var/www/aiosmtpd/.env/bin/smtpd -n -c proxy.Sendmail -l :1025

[Install]
WantedBy=default.target
